<ion-content>
  <ion-header class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button href="#home" aria-label="Eco Munch">
        <ion-img
          src="assets/images/logo50.png"
          alt="Eco munch logo"
          class="logo"
          srcset="assets/images/logo50.png w50 assets/images/logo75.png w75"
          width="50"
          height="50"
        />
        <h2 class="logoText">Eco Munch</h2>
      </ion-button>
    </ion-buttons>
    <ion-toolbar>
      <ion-buttons slot="start" class="tools">
        <ion-back-button
          color="tertiary"
          defaultHref="/tabs/home"
          class="custom-back-button"
          aria-label="BackButton"
        ></ion-back-button>
      </ion-buttons>
      <ion-breadcrumbs class="breadcrumb-container">
        <ion-breadcrumb href="#Home"> Home </ion-breadcrumb>
        <ion-breadcrumb href="#Profile"> Profile </ion-breadcrumb>
      </ion-breadcrumbs>
      <ion-buttons slot="end">
        <ion-button
          fill="clear"
          slot="end"
          (click)="logout()"
          color="tertiary"
          aria-label="LogOut"
        >
          Logout
          <ion-icon name="Log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="page-container">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" size-sm="12">
          <ion-card style="background-color: #f4f4f4">
            <ion-toolbar class="gray-toolbar">
              <ion-buttons slot="end">
                <ion-button
                  fill="clear"
                  (click)="updateUser()"
                  aria-label="edit"
                >
                  <h3>Edit</h3>
                  <ion-icon
                    size="medium"
                    color="tertiary"
                    name="create-outline"
                  ></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>

            <ion-grid>
              <ion-row style="padding-bottom: 2rem">
                <ion-col class="avatar-col" size-sm="12" size-lg="4">
                  <ion-avatar>
                    <ion-img
                      *ngIf="!user?.photoURL"
                      alt="Silhouette of a person's head"
                      src="https://ionicframework.com/docs/img/demos/avatar.svg"
                    />
                    <ion-img
                      *ngIf="user?.photoURL"
                      src="{{ user?.photoURL }}"
                      alt="{{ user?.name }}"
                    />
                  </ion-avatar>
                </ion-col>
                <ion-col size-sm="12" size-lg="8" class="personal">
                  <ion-label class="ion-text-center">
                    <h1>Hello {{user?.name}}</h1>
                    <p>Email: {{user?.email}}</p>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="favorite-dish-container">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="dish-title-padding">
          <ion-text color="secondary">
            <h2>Favorite Dishes</h2>
          </ion-text>
        </ion-col>
      </ion-row>

      <h3
        class="ion-text-center"
        *ngIf="!isLoadingFavorites && favorites.length === 0"
      >
        You have no favorite dishes yet
      </h3>

      <div *ngIf="isLoading" [@fadeOutIn]>
        <ion-card class="loadcard">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-skeleton-text
                  animated
                  class="skeleton-image"
                ></ion-skeleton-text>
              </ion-col>
              <ion-col size="8">
                <ion-card-content>
                  <ion-skeleton-text
                    animated
                    class="skeleton-title"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    animated
                    class="skeleton-title"
                  ></ion-skeleton-text>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-skeleton-text
            animated
            class="skeleton-heart"
          ></ion-skeleton-text>
        </ion-card>

        <ion-card class="loadcard">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-skeleton-text
                  animated
                  class="skeleton-image"
                ></ion-skeleton-text>
              </ion-col>
              <ion-col size="8">
                <ion-card-content>
                  <ion-skeleton-text
                    animated
                    class="skeleton-title"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    animated
                    class="skeleton-title"
                  ></ion-skeleton-text>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-skeleton-text
            animated
            class="skeleton-heart"
          ></ion-skeleton-text>
        </ion-card>

        <ion-card class="loadcard">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-skeleton-text
                  animated
                  class="skeleton-image"
                ></ion-skeleton-text>
              </ion-col>
              <ion-col size="8">
                <ion-card-content>
                  <ion-skeleton-text
                    animated
                    class="skeleton-title"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    animated
                    class="skeleton-title"
                  ></ion-skeleton-text>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-skeleton-text
            animated
            class="skeleton-heart"
          ></ion-skeleton-text>
        </ion-card>
      </div>

      <ion-row>
        <ion-col *ngFor="let favorite of favorites" size-lg="6" size-sm="12">
          <ion-card
            (click)="dishDetailsModal(favorite)"
            *ngIf="!favorite.removed"
            class="favorite-dish-card favorite-dish-card-height dish-bg-color"
            [@fadeOutIn]
          >
            <ion-row class="ion-align-items-center full-height">
              <ion-col>
                <ion-img
                  [src]="favorite.strMealThumb"
                  alt="{{ favorite.strMeal }}"
                  class="rounded-dish-img"
                />
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-card-header>
                  <h3 class="dish-name-text truncate">
                    {{ truncateMealName(favorite.strMeal, 15, 9) }}
                  </h3>
                </ion-card-header>
                <ion-toolbar class="gray-toolbar">
                  <div>
                    <ion-icon
                      style="margin-top: 15px"
                      [src]="getCategoryIcon(favorite.strCategory)"
                    ></ion-icon>
                    <p class="dish-name-text" style="margin-top: 0px">
                      {{ favorite.strCategory }}
                    </p>
                  </div>
                  <ion-buttons
                    slot="end"
                    (click)="favoriteStatus[favorite.idMeal] ? removeFavorite(favorite) : addFavorite(favorite); $event.stopPropagation()"
                    aria-label="FavoriteButton"
                  >
                    <ion-button aria-label="FavoriteButton">
                      <ion-icon
                        *ngIf="favoriteStatus[favorite.idMeal]"
                        name="heart"
                        size="large"
                        color="tertiary"
                      ></ion-icon>
                      <ion-icon
                        *ngIf="!favoriteStatus[favorite.idMeal]"
                        name="heart-outline"
                        size="large"
                        color="tertiary"
                      ></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="graphic">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="12" size-sm="12">
          <ion-img
            src="assets/images/Boelge.png"
            alt="graphic"
            class="graphic"
            width="100"
            height="auto"
          />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="container d-none">
    <ion-grid style="color: F4F7E0">
      <ion-row style="padding: 5%; justify-content: center">

        <ion-col size-lg="5" size-sm="12">
          <ion-img
            src="assets/images/ChickenAlfredoPasta.jpg"
            alt="graphic"
            class="graphic"
            width="50"
            height="auto"
          />
        </ion-col>

        <ion-col size-lg="5" size-sm="12">
          <ion-row>
            <h3 class="topics">Current topics</h3>
          </ion-row>
          <ion-row>
            <h2 class="topic title">Title</h2>
          </ion-row>
          <ion-row>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
              quis lectus quis sem lacinia nonummy. Proin mollis lorem non
              dolor. In hac habitasse platea dictumst. Læs mere
            </p>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>
