ion-avatar {
    width: 110px;
    height: 110px;
}

.gray-toolbar {
    --background: #f4f4f4 !important;
}

.favorite-dish-container {
    .dish-title-padding {
        padding-left: 15px;
    }

    .favorite-dish-card {
        margin-top: 0px;
    }

    .dish-name-text {
        color: black !important;
    }

    .rounded-dish-img {
        overflow: hidden;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }

    .dish-bg-color {
        background-color: #f4f4f4;
    }

    .full-height {
        height: 100%;
    }

    .favorite-icon-position {
        position: absolute;
        right: 0;
    }

    .truncate {
        word-break: break-word;
    }
}

@media (max-width: 767px) {
    .breadcrumb-container{
        display: none;
    }
    .logo{
        display: none;
    }
    .logoText{
        display: none;
    }
}

@media (min-width: 768px) {
    .breadcrumb-container{
        text-align: left;
    }
    .page-container{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .tools{
        margin-left: 3.5rem;
      }  
  .personal{
    padding-top: 30px;
  }
}

.logo {
    width: auto;
    height: auto;
    margin-left: 4.5rem;
  }
  
  .logoText {
      color: #2E4E2B;
      margin-left: 10px;
  }
 
  .avatar-col{
    display: flex;
    justify-content: center;
    align-items: center;
  }