ion-content {
  --background: url("../../../assets/images/bg.png") no-repeat 0 0 /100%;

  @media (max-width: 1080px) {
    --background: none;
    .logoText {
      display: none;
    }
  }

  .header {
    div {
      display: flex;
      align-items: baseline;
      margin-left: 7.5rem;
      margin-top: 1rem;
      justify-content: left;
    }

    ion-img {
        display: block;
        margin: 0 auto;
        width: 101px;
        height: 101px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    @media (max-width: 768px){
        ion-img{
            transform: translateY(30px)
        }
        div{
            justify-content: center;
            margin-left: 0;
            margin-top: 0;
        }
        ion-toolbar {
            transform: translate(10px, -90px);
            position: absolute;
        }
    }


    @media (min-width: 768px){
        .form-container{
            margin-left: 35%;
            margin-right: 35%;
        }
        .logo{
            margin-left: 4.5rem;
        }
        ion-toolbar {
            transform: translate(70px, -10px);
            position: absolute;
          }
    }

  .form-container {
    padding-top: 20px;


        p {
            text-align: left;
            font-size: 12px;
        }

    .input-container {
      width: 100%;
      padding-top: 15px;

      ion-item {
        ion-icon {
          margin-top: 40px;
        }

        ion-label {
          font-size: 18px;
        }
      }

      .error {
        color: #f44336;
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 41px;
        padding-top: 5px;
      }
    }

    ion-button {
      margin-top: 40px;
      margin-bottom: 25px;
    }
  }
}
