ion-content {
  .header {
    div {
      display: flex;
      align-items: baseline;
      margin-left: 7.5rem;
      margin-top: 1rem;
    }
    ion-img {
      width: 101px;
      height: 101px;
    }
    .logoText {
      color: #2e4e2b;
      margin-left: 10px;
    }
    //Mobile view
    @media (max-width: 768px) {
      div {
        justify-content: center;
        margin-left: 0px;
        margin-top: 0px;
      }
      ion-img {
        transform: translateY(30px);
      }
      ion-toolbar {
        transform: translate(10px, -90px);
        position: absolute;
      }
      .logoText {
        display: none;
      }
    }
    @media (min-width: 820px) {
      ion-toolbar {
        transform: translate(130px, -10px);
        position: absolute;
      }
    }
  }

  .page-container {
    text-align: center;
    //mobile view

    @media (max-width: 768px) {
      text-align: start;
    }
  }

  .form-container {
    padding-top: 20px;
    .input-container {
      width: 100%;

      ion-item {
        margin: 0px 450px 0px 450px;
      }
      .error {
        color: #f44336;
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 41px;
        padding-top: 5px;
      }
    }
    ion-button {
      margin: 30px 450px 15px 450px;
      --background-color: #9dc3c6;
    }
    //Mobile view
    @media (max-width: 1180px) {
      .input-container {
        ion-item {
          margin: 0px 0px 0px 0px;
          ion-icon {
            margin-top: 40px;
          }
          ion-label {
            font-size: 18px;
          }
        }
      }
      ion-button {
        margin: 30px 0px 15px 0px;
      }
    }
  }
}
